 <!-- Start Top Nav -->
 <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="#">info@cpt.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="#">012 343 0908</a>
            </div>
            <div> 
                <a href="/#/jobs" class="text-light"> Find a job  </a> | <a href="/#/pricing" class="text-light"> Post a job  </a>
            </div>
        </div>
    </div>
  </nav>
  <!-- Close Top Nav -->
  
  
  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container d-flex justify-content-between align-items-center">
  
        <a class="navbar-brand   logo h1 align-self-center" href="#">
            CPT - LOGO
        </a>
  
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" 
        data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div  class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex  " id="templatemo_main_nav">
            <div class="flex-fill"> 
            </div> 
            <div class="navbar align-self-center d-flex"> 
                <a href="/signup" class="btn head-btn1 bmb-btn"> Register  </a>
                <a href="/signin" class="btn head-btn2">Login  </a>  
            </div>
        </div> 
    </div>
  </nav>
  <!-- Close Header -->