  
<app-header-user></app-header-user>  
<app-header-user-search  ></app-header-user-search> 
  <!-- Start Featured Product -->
  <section class="">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Get your job  </h1> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 "> 
                <aside class="single_sidebar_widget post_category_widget">
                    <h4 class="widget_title ">Refine your search </h4>
                    <!-- Select job items start -->
                    <div class="select-form ">
                        <select name="select"> 
                            <option value="">All Category</option>
                            <option value="">Category 1</option>
                            <option value="">Category 2</option>
                            <option value="">Category 3</option>
                            <option value="">Category 4</option>
                        </select>
                    </div>
                    <!--  Select job items End-->
                    
                    <!-- select-Categories start -->
                    <div class="select-Categories pt-80 pb-50">
                        <div class="small-section-tittle2">
                            <h4 class="box-header">Job Type</h4>
                        </div>
                        <label class="container">Full Time
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Part Time
                            <input type="checkbox" checked="checked active">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Remote
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Freelance
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <!-- select-Categories End -->
                    
                    <div class="small-section-tittle2">
                        <h4 class="box-header">Job Location</h4>
                    </div> 
                    <!-- Select job items start -->
                    <div class="select-form ">
                        <select name="select"> 
                            <option value="">Anywhere  </option>
                            <option value="">Category 1</option>
                            <option value="">Category 2</option>
                            <option value="">Category 3</option>
                            <option value="">Category 4</option>
                        </select>
                    </div>
                    <!--  Select job items End-->
                    
                     <!-- select-Categories start -->
                     <div class="select-Categories pt-80 pb-50"> 
                        <div class="small-section-tittle2">
                            <h4 class="box-header">Experience  </h4>
                        </div> 
                        <label class="container">1-2 Years
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">2-3 Years
                            <input type="checkbox" checked="checked active">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">3-6 Years
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">6-more..
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <!-- select-Categories End -->
                 </aside>
            </div>
            <!-- single-job-content -->
            <div class="col-lg-8"> 
                <div class="single-job-items mb-30">
                    <div class="job-items ">
                        <div class="company-img"> 
                        </div>
                        <div class="job-tittle"> 
                        </div> 
                    </div>
                </div> 
            <!-- <div class="single-job-items mb-30">
                    <div class="job-items ">
                        <div class="company-img">
                            <a href="#"><img src="assets/img/default_client.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Digital Marketer</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                                <li>7 hours ago</li>
                            </ul>
                            <a href="#" class="btn-job-apply">Save this job  </a> 
                            <a href="/#/job-details"  class="btn-job-apply-primary">Show more  </a> 
                        </div> 
                    </div>
                </div> 
                <div class="single-job-items mb-30">
                    <div class="job-items ">
                        <div class="company-img">
                            <a href="#"><img src="assets/img/default_client.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Digital Marketer</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                                <li>7 hours ago</li>
                            </ul>
                            <a href="#" class="btn-job-apply">Save this job  </a>  
                            <a href="/#/job-details" class="btn-job-apply-primary">Show more  </a> 
                        </div> 
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items ">
                        <div class="company-img">
                            <a href="#"><img src="assets/img/default_client.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Digital Marketer</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                                <li>7 hours ago</li>
                            </ul>
                            <a href="#" class="btn-job-apply">Save this job  </a> 
                             <a href="/#/job-details" class="btn-job-apply-primary">Show more  </a> 
                        </div> 
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items ">
                        <div class="company-img">
                            <a href="#"><img src="assets/img/default_client.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Digital Marketer</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                                <li>7 hours ago</li>
                            </ul>
                            <a href="#" class="btn-job-apply">Save this job  </a> 
                            <a href="/#/job-details" class="btn-job-apply-primary">Show more  </a> 
                        </div> 
                    </div>
                </div> -->
                
            </div> 
             
             
        </div>
    </div>
  </section>
  <!-- End Featured Product -->